#cover{
    height: 400px;
    width: inherit;
}
.imageList {
	width: 100px!important;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
}
.img-details{
	margin-left: 15px;
	margin-bottom: 10px;
	width: 500px;
	height: 600px;
}
h1.livre{
	margin-left: 15px;
}